h1,h2,h3{
    font-family: $f_title;
}

a{
    text-decoration: none;
    color: $c-medium-grey;
    &:hover{
        color: $c-medium-theme; 
    }

button{
    font-family: $f_button;
    &:hover{

    }
}

ul{
    li{

    }
}


body{
    @include color($c_white,$c_dark_grey);
    font-family: $f_text;
    margin: 0 auto;
    
}