h1,h2,h3{
    font-family: $f_title;
}

a{
    font-family: $f_link;
    &:hover{

    }
}

button{
    font-family: $f_button;
    &:hover{

    }
}

ul{
    li{

    }
}

body{
    @include color($c_white,$c_dark_grey);
    font-family: $f_text;
}