// .filter{
//     margin-top: 2em;
// }
/* Remove IE arrow */
/* Custom Select */
/* Arrow */
/* Transition */

.filter {
	
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1em auto; //media query 900px
	width: 69%;
}

select {
	appearance: none;
	background: $c-dark-grey;
	background-image: none;
	border: 0 !important;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	flex: 1;
	font-family: $f-button;
	outline: 0;
	padding: 0 .5em;

	&::-ms-expand {
		display: none;
	}
}

.select {
	
	background: $c-dark-grey ;
	display: flex;
	height: 2em;
	line-height: 3;
	margin-left: .5em;
	overflow: hidden;
    position: relative;
	width: 16em;

	&::after {
		background: $c-medium-theme;
		content: '\25BC';
		cursor: pointer;
		padding: 0 1em;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: -6;
		transition: .25s all ease;
		-webkit-transition: .25s all ease;
		-o-transition: .25s all ease;
	}

	&:hover {
		&::after {
            color: $c-dark-grey;
		}
	}
}

//--------menu_navigation_Tablette-----------//
@media (min-width: 600px) {
	.filter {
		align-items: center;
		flex-direction: row;
		display: flex;
		justify-content: space-between;
		margin: .3em auto; //media query 900px
		width: 69%;
	}
	
}

//--------menu_navigation_Grand écran-----------//
@media (min-width: 900px) {
	.filter {
		align-items: center;
		flex-direction: row;
		display: flex;
		justify-content: space-between;
		margin: .3em auto; //media query 900px
		width: 69%;
	}
		
}