.address {
    display: none;
}

.color_logo_f {
    fill: red;
}

footer {
    background-color: $c-dark-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
        color: $c-light-grey;
        margin: 0 2%;
    }
    p {
        color: $c-light-grey;
    }
}

.logo_f {
    margin: 5% 0;
    width: 30%;
}

.medias {
    font-size: 2em;
    display: flex;
    justify-content: flex-end;
    margin: 4% 0;
    width: 30%;
}
