.address {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: $c-dark-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0em;
    width: 100%;
    a {
        color: $c-light-grey;
        margin: 0 2%;
    }
    p {
        color: $c-light-grey;
    }
}

.logo_f {
    margin: 5% 0;
    width: 30%;
}

.medias {
    font-size: 8vw;
    display: flex;
    justify-content: flex-end;
    margin: 5% 0;
    width: 30%;
}
