.footer {
    display: flex;
    flex-direction: row;
    background-color: $c-dark-grey;
    p {
        color: $c-light-grey;
    }
    width: 50%;
}

.adress {
    display: none;
}

#logo_f {
    width: 100%;
}