#logo_h{
    width: 200px;
}
section.entete{
    padding-top: 30px;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    justify-items: center;
    
}
.search_compte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.mon_compte{
    padding-left: 10px;
    font-size: 0.7em;
    }
    
}
.crumbs ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-size: 0.9em;
}




