.form {
    border: 1px solid $c-light-grey;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10em auto;
    width: 80%;
    .content_form{
        align-content: right;
        padding: 2em;
    }
    
    .titre_form{
        color: white;
        display: flex;
        justify-content: space-around;
        background-color: $c-medium-theme;
        h1{
            font-weight: normal;
        }
    }
}

//--------formulaire_Tablette-----------//
@media (min-width: 600px) {
	.form {
        
	}
}

//--------formulaire_Grand écran-----------//
@media (min-width: 900px) {
	.form {
        width: 40%;
	}
}