@mixin flexbox($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin color($backgroundColor, $textColor) {
    background-color: $backgroundColor;
    color: $textColor;
}

@mixin centrer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}