// definition des variables font
$f-title : 'Montserrat', sans-serif;
$f-text : 'Montserrat', sans-serif;
$f-button : 'Montserrat', sans-serif;
$f-link : 'Montserrat', sans-serif;

// definition des variables couleur
$c-white : #ffff;
$c-light-grey : #bcbcbc;
$c-medium-grey : #6b6a6a;
$c-dark-grey : #383737;
$c-error-color : red;

$c-light-theme : hsl(332, 68%, 74%); 
$c-medium-theme :  hsl(326, 100%, 37%); 
$c-dark-theme :  hsl(335, 69%, 38%); 
