// definition des variables font
$f_title : 'Montserrat', sans-serif;
$f_text : 'Montserrat', sans-serif;
$f_button : 'Montserrat', sans-serif;
$f_link : 'Montserrat', sans-serif;

// definition des variables couleur
$c_white : #ffff;
$c_light_grey : #bcbcbc;
$c_medium_grey : #6b6a6a;
$c_dark_grey : #383737;
$c_error_color : red;

$c_light_theme : hsl(332, 68%, 74%); 
$c_medium_theme :  hsl(326, 100%, 37%); 
$c_dark_theme :  hsl(335, 69%, 38%); 
