// variables font
$f_title : 'Montserrat', sans-serif;
$f_text : 'Montserrat', sans-serif;
$f_button : 'Montserrat', sans-serif;
$f_link : 'Montserrat', sans-serif;

// variables couleur
$white : #ffff;
$light_grey : #bcbcbc;
$medium_grey : #6b6a6a;
$dark_grey : #383737;

$light_theme : hsl(332, 68%, 74%); 
$medium_theme :  hsl(326, 100%, 37%); 
$dark_theme :  hsl(335, 69%, 38%); 
