.detail_ad{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto 2em;
    border: 1px solid $c-light-grey;
    justify-content: center;
    padding: .5em;
}
.soumission .button{
    color: white;
    
    
}



@media (min-width: 600px) {

    
}
  
@media (min-width: 900px) {
  

}