.detail_ad{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto 0;
    border: 1px solid $c-light-grey;
    justify-content: center;
    padding: .5em;
}


.soumission{
    width:100%;
    text-align: center;
    font-weight: medium;
}


@media (min-width: 600px) {

    
}
  
@media (min-width: 900px) {
  

}