.detail_ad{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto 2em;
    border: 1px solid $c-light-grey;
    justify-content: center;
    padding: .5em;
}

.soumission{
    width:100%;
    text-align: center;
    font-weight: medium;
}
.secondary_photos{

    width: 94%;
    display: flex;
    flex-direction: row;
    img {
        width: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        margin-left: .4em;
        margin-top: .4em;
    }
}


@media (min-width: 600px) {
    .detail_ad{
        width: 85%;
      
    }
    .soumission{
        width: 25%;
        margin: 0 auto;
    }
    .titre_img_desc_prix{
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
    }
    .img_titre{
        width: 94%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
    }
    .desc_prix{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            padding-left: 1em;
        }
        
    }
  

    
}
  
@media (min-width: 900px) {
    .detail_ad{
        width: 32%;

        .img_titre{
            width: 80%;
          
        }
    }
    
    .secondary_photos{

        width: 45%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        img {
            width: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            margin-left: .4em;
            margin-top: .4em;
        }
    }
  

}