#logo_h{
    width: 127px;
    margin-right: 3.5em;
}

.menu_logo_compte{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.menu_logo_compte_el{
	display: none;
}

.line{
    margin-top: 2rem;
    margin-bottom: 20px;
    border-bottom: 1px solid $c-light-grey;
    width: 69%;
    margin: 0 auto; 
}
.line_t{
   
    border-bottom: 1px solid $c-light-grey;
    width: 29%;
	margin: 0 auto 2em;
	 
}


.mon_compte{
    font-size: 1em;
    padding-right: 1.7rem;
}

//--------menu_navigation_mobile-----------//

#menuToggle {
	width: 10%;
	display: block;
	position: relative;
	top: 35px;
	left: 22px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	
	a {
        color: $c-light-grey ; 
        text-decoration: none;
		transition: color 0.3s ease;
		&:hover {
			color: $c-medium-theme;
		}
	}

	input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
		&:checked {
			& ~ span {
				opacity: 1;
				transform: rotate(45deg) translate(-2px, -1px);
				//background: #232323;
				&:nth-last-child(3) {
					opacity: 0;
					transform: rotate(0deg) scale(0.2, 0.2);
				}
				&:nth-last-child(2) {
					transform: rotate(-45deg) translate(0, -1px);
				}
			}
			& ~ ul {
				transform: none;
			}
		}
	}

	span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: $c-medium-theme;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
		&:first-child {
			transform-origin: 0% 0%;
		}
		&:nth-last-child(2) {
			transform-origin: 0% 100%;
		}
	}
}

#menu {
	position: absolute;
	//width: 300px;
    margin: -111px 0px 0 -23px;
	padding: 50px;
	padding-top: 125px;
    background: $c-dark-grey ;
    
    list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	li {
		padding: 10px 0;
		font-size: 22px;
	}
}

//--------menu_navigation_tablette-----------//

@media (min-width: 600px) {
	
	#logo_h{
		width: 170px;
		margin-right: 17em;
	}
	section.menu_logo_compte_el{
		display: none;
	}
	
  }
//--------menu_navigation_Grand écran-----------//
  @media (min-width: 900px) {
	
	#logo_h_el{
		width: 200px;
		padding-right: 2.7rem;
	
	}    
	
	#menuToggle {
		display: none;
	}
	
	section.menu_logo_compte{
		display :none;
	}
	
	section.menu_logo_compte_el{
		margin: 2em auto ;
		width: 69%;
		display: contents;
		display: flex;
        flex-direction: row;
        justify-content: space-between;
		align-items : center;
	}
	.ligne{
		margin-top: 2rem;
		margin-bottom: 20px;
		border-bottom: 1px solid $c-light-grey;
		width: 69%;
		margin: 0 auto; 
	}
	div.search_compte_el{
		display: flex;
		flex-direction: row;
	}
	div.compte_el{
		padding-right: 1em;
	}
	div.menu_search_compte_el{
		display: flex;
		flex-direction: column;
	}
	#menu_el{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	//---------css barre de recherche----------------------------//
	#icone_search{
		position: relative;
		float: right;
		top: -19px;
    	right: 7px;
	  }

	
	
	
  }



 



