//--------------------------------------
// definition de variables globales
//--------------------------------------
// definition des variables font
$f-title : 'Montserrat', sans-serif;
$f-text : 'Montserrat', sans-serif;
$f-button : 'Montserrat', sans-serif;
$f-link : 'Montserrat', sans-serif;

// definition des variables couleur
$c-white : hsl(0, 0%, 100%);
$c-light-grey : hsl(0, 0%, 74%);
$c-medium-grey : hsl(0, 0%, 42%);
$c-dark-grey : hsl(0, 1%, 22%);
$c-dark-grey-transparent : hsla(0, 1%, 22%,.75);
$c-error-color : hsl(0, 100%, 50%);
$c-succes : hsl(110, 46%, 66%);
$c-succes-border : hsl(110, 61%, 29%); 
$c-fail-border : hsl(355, 67%, 48%);
$c-fail : hsl(355, 59%, 63%);
$c-light-theme : hsl(332, 68%, 74%); 
$c-medium-theme :  hsl(326, 100%, 37%); 
$c-dark-theme :  hsl(335, 69%, 38%); 
//-----------------------------------------

//-----------------------------------------
//definition des mixins
//-----------------------------------------
@mixin flexbox($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin color($backgroundColor, $textColor) {
    background-color: $backgroundColor;
    color: $textColor;
}

@mixin centrer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
//------------------------------------------



